@model LostPets.Web.Areas.Administration.ViewModels.AdminUsers.AdminUserViewModel
@{
    ViewBag.Title = "_AllPartial";
}
<tr class="active">
    <td>
        @if (@Model.ProfilePicture != null)
        {
            <img src="@Url.Action("Image", "AdminPosts", new { id = Model.ProfilePicture.Id })" alt="@Model.UserName" class="img-responsive" width="70" />
        }
        else
        {
            <img src="http://jplabilocano.freetzi.com/images/Anonymous.png" alt="@Model.UserName" class="img-responsive" width="70" />
        }
    </td>
    <td>
        <a href="@Model.UserUrl">@Model.UserName </a>
    </td>
    <td>
        @Model.Email
    </td>
    <td>
        @Model.Id
    </td>
    <td>
        @Html.ActionLink("Delete", "DeleteUser", new { id = Model.Id }, new { @class = "btn btn-xs btn-danger" })
    </td>
</tr>

