@model LostPets.Web.Areas.Administration.ViewModels.AdminComments.AdminCommentViewModel
@{
    ViewBag.Title = "_AllPartial";
}

<tr class="active">
    <td>
        @Model.Id
    </td>
    <td>
        @Model.Content
    </td>
    <td>
        <a href="@Model.UserUrl">@Model.Author.UserName </a>
    </td>
    <td>
        @Model.Post.Id
    </td>
    <td>
        <a href="@Model.PostUrl">@Model.Post.Title </a>
    </td>
    <td>
        @Html.ActionLink("Edit", "EditComment", new { id = Model.Id }, new { @class = "btn btn-xs btn-default" })
        @Html.ActionLink("Delete", "DeleteComment", new { id = Model.Id }, new { @class = "btn btn-xs btn-danger" })
    </td>
</tr>


