@using LostPets.Data.Models.Types

@model LostPets.Web.ViewModels.Posts.PostViewModel
@{
    ViewBag.Title = "_PostPartial";
}

@{ var className = "info"; }
@if (Model.PostType == PostType.Lost)
{
    className = "danger";
}

<tr class="@className">
    <td>
        @if (@Model.Photo != null)
        {
            <img src="@Url.Action("Image", "Posts", new { id = Model.Photo.Id })" alt="@Model.Title" class="img-responsive" width="70" />
        }
        else
        {
            <img src="http://europeandemocracy.eu/wp-content/themes/groovy1/inc/img/no_image.jpg" alt="@Model.Title" class="img-responsive" width="70" />
        }
    </td>
    <td>
        <a href="@Model.Url" class="panel-title text-center">@Model.Title</a>
    </td>
    <td>
        @Model.PostType
    </td>
    <td>
        @Model.Pet.PetType
    </td>
    <td>
        @Model.Location.City
    </td>
    <td>
        @if (User.Identity.IsAuthenticated)
        {
            <a href="@Model.UserUrl">@Model.Author.UserName </a>
        }
        else
        {
            @Model.Author.UserName
        }
    </td>
</tr>


